
.navbar-nav .nav-item + .nav-item {
  margin-right: 1rem;
  float: right;
}

.navbar-nav .nav-item {
  float: right;
}
.sign-in-card {

}
.centered{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
}
