/*
variables
*/

//colors
$primary-color: #453661;
$secondary-color: #41b5c6;
$danger-color: #BE3A71;
$warning-color: #BE3A71;
$success-color: #7DB956;
$info-color: #1a3844;
//light to dark colors
$lighter-color: #F0F0F0;
$light-color: #D4d4d4;
$base-color:#636363;
$dark-color: #2b2b2b;
$darker-color:#0f0f0f;


